<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

	<title>Topaz</title>
	<meta name="description" content="iCure Cloud App">

	<link rel="icon" href="images/favicon.ico">

	<!-- See https://goo.gl/OOhYW5 -->
	<link rel="manifest" href="manifest.json">

	<!-- See https://goo.gl/qRE0vM -->
	<meta name="theme-color" content="#FFB300">

	<!-- Add to homescreen for Chrome on Android. Fallback for manifest.json -->
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="application-name" content="iCure Cloud App">

	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="iCure Cloud App">

	<!-- Homescreen icons -->
	<link rel="apple-touch-icon" href="images/manifest/icon-48x48.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/manifest/icon-72x72.png">
	<link rel="apple-touch-icon" sizes="96x96" href="images/manifest/icon-96x96.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/manifest/icon-144x144.png">
	<link rel="apple-touch-icon" sizes="192x192" href="images/manifest/icon-192x192.png">

	<!-- Tile icon for Windows 8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="images/manifest/icon-144x144.png">
	<meta name="msapplication-TileColor" content="#2bab72">
	<meta name="msapplication-tap-highlight" content="no">


	<style>
		body {
			margin: 0;
			font-family: 'Roboto', 'Noto', sans-serif;
			line-height: 1.5;
			min-height: 100vh;
			background-color: #FCFCFC;
			--width: 20px;
 			--hw: calc(var(--width) / 2);
		}

		* {
			outline: 0!important;
			outline-color: #FFD740;
		}

		*:focus {
			outline: 0!important;
		}

		#splashscreen {
			position: fixed;
			top: 0;
			left: 0%;
			right: 0;
			bottom: 0;
			height: 100%;
			width: 100%;
		}

		ht-spinner{
			position: absolute;
			display:block;
			width: 42px;
			height: 42px;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}


	</style>
</head>
<body class="topaz">

<script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>


<!--
  IMPORTANT: Make sure you set the inject: false option in HTMLWebpackPlugin
  so it doesn't try to insert bundle.js. We're handling loading it ourselves
  up above.
-->
<ht-app-tz>
<div id="splashscreen">
	<ht-spinner class="spinner" active></ht-spinner>
</div>
</ht-app-tz>


</body>
</html>
